<footer class="site-footer" style="overflow: inherit">

  <div class="wrapper">

    <div class="row">
      <div class="col-12 col-md-6 text-center">
    <h2>{{ site.name }}</h2>
    <h4 style="color:silver">Web Developer</h4>
        <img style="margin:auto" src="{{ site.photoUrl }}" height="auto" width="50%"  alt="vincent lewis' photo" >
      <!--</div>-->
      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="contact-list">-->
          <!--<li>Web Developer</li>-->
          <!---->
        <!--</ul>-->
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="social-media-list">-->
          <!--{% if site.github_username %}-->
          <!--<li>-->
            <!--{% include icon-github.html username=site.github_username %}-->
          <!--</li>-->
          <!--{% endif %}-->

          <!--{% if site.twitter_username %}-->
          <!--<li>-->
            <!--{% include icon-twitter.html username=site.twitter_username %}-->
          <!--</li>-->
          <!--{% endif %}-->
        <!--</ul>-->
      <!--</div>-->

      <div class="col-6 d-none d-md-block text-justify" style="float:right">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
