<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.name }}</h2>
    <h4 style="color:silver">Web Developer</h4>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="{{ site.photoUrl }}" height="auto" width="100%"  alt="vincent lewis' photo" >
      <!--</div>-->
      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="contact-list">-->
          <!--<li>Web Developer</li>-->
          <!---->
        <!--</ul>-->
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <!--<div class="footer-col footer-col-1">-->
        <!--<ul class="social-media-list">-->
          <!--{% if site.github_username %}-->
          <!--<li>-->
            <!--{% include icon-github.html username=site.github_username %}-->
          <!--</li>-->
          <!--{% endif %}-->

          <!--{% if site.twitter_username %}-->
          <!--<li>-->
            <!--{% include icon-twitter.html username=site.twitter_username %}-->
          <!--</li>-->
          <!--{% endif %}-->
        <!--</ul>-->
      <!--</div>-->

      <div class="footer-col footer-col-3" style="float:right">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
