.intro_spacer{
  margin-top: 100px;
}

.plain_list{
  list-style: none;
}

.tech_bg{
  background-image: url(https://s3-us-west-1.amazonaws.com/vl-photos/ProfessionalPhoto/code_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100px;
  width: 100%;
}